.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 30vw;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
}

.image-container img:hover {
    border: 3px solid #007BFF;
    cursor: pointer;
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
    }
    .image-container img {
        width: 100%;
    }
}